<div xmlns:th="http://www.thymeleaf.org">

    <form th:object="${item}" class="card" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="row">
                <div class="row mb-3">
                    <div class="col">
                        <label>Username</label>
                        <input th:field="*{username}" class="form-control">
                    </div>
                    <div class="col">
                        <label>Mật khẩu</label>
                        <input th:field="*{password}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label>Email</label>
                        <input th:field="*{email}" class="form-control">
                    </div>
                    <div class="col">
                        <label>Số tài khoản chứng khoán</label>
                        <select th:field="*{vipAccountNumber}" class="form-select">
                            <option th:each="account : ${accounts}"
                                    th:value="${account.id}"
                                    th:text="${account.vipAccountNumber}"
                                    th:selected="${account.vipAccountNumber == vipAccountNumber}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <hr th:replace="/admin/shared/frags::btn-crud('account', *{id})"/>
        </div>
    </form>
</div>