<div class="card" xmlns:th="http://www.thymeleaf.org">
    <table class="table">
        <thead>
        <tr>
            <th>No.</th>
            <th>Mã</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Vip Account</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="itm, st : ${page.content}">
            <td th:text="${st.count + page.number * page.size}"></td>
            <td th:text="${itm.id}"></td>
            <td th:text="${itm.username}"></td>
            <td th:text="${itm.password}"></td>
            <td th:text="${itm.email}"></td>
            <td>
                <hr th:replace="/admin/shared/frags::lnk-crud('account', ${itm.id})"/>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="card-footer">
        <div th:replace="/admin/account/_pager"></div>
    </div>
</div>