<html xmlns:th="http://www.thymeleaf.org"
	th:replace="/shared/layout::dynamic(~{::view})">

<main th:fragment="view">
	<form th:object="${form}" action="/account/sign-up" method="post" enctype="multipart/form-data">
		<div class="card">
			<div class="card-header">
				USER REGISTRATION
				<i class="float-end text-danger" th:text="${message}"></i>
			</div>
			<div class="card-body">
		        <div class="row mb-3">
			        <div class="col">
			            <label>Username</label>
			            <input th:field="*{username}" class="form-control">
			        </div>
					<div class="col">
						<label>Password</label>
						<input name="password" th:value="*{password}" type="password" class="form-control">
					</div>
		        </div>
		    </div>
		    <div class="card-footer text-end">
		    	<input type="hidden" name="activated" value="false">
		        <button class="btn btn-primary">Sign Up</button>
		    </div>
	    </div>
    </form>
</main>