<div class="card" xmlns:th="http://www.thymeleaf.org">
	<div class="card-header">
		<div th:replace="/admin/vip-account/_filter"></div>
	</div>
	<table class="table">
	    <thead>
	        <tr>
	            <th>No.</th>
	            <th>Mã</th>
	            <th>Số tài khoản</th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="itm, st : ${page.content}">
	            <td th:text="${st.count + page.number * page.size}"></td>
	            <td th:text="${itm.id}"></td>
	            <td th:text="${itm.vipAccountNumber}"></td>
	            <td>
	                <hr th:replace="/admin/shared/frags::lnk-crud('vip-account', ${itm.id})"/>
	            </td>
	        </tr>
	    </tbody>
	</table>
	<div class="card-footer">
		<div th:replace="/admin/vip-account/_pager"></div>
	</div>
</div>