<div xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home/index">Trang chủ</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#hmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="hmenu">
                <ul class="navbar-nav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/vip-account-group/index">Quản lý kho số</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/vip-account/index">Quản lý số tài khoản chứng khoán</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/account/index">Quản Lý User</a>
                        </li>
                    </ul>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class='bx bx-user'></i>
                            <span th:text="${#request.remoteUser == null ? 'My Account' : #request.remoteUser}"></span>
                        </a>
                        <ul th:if="${#request.remoteUser == null}" class="dropdown-menu">
                            <li><a class="dropdown-item" href="/security/login/form">Sign In</a></li>
                            <li><a class="dropdown-item" href="/account/sign-up">Sign Up</a></li>
                        </ul>
                        <ul th:unless="${#request.remoteUser == null}" class="dropdown-menu">
                            <li><a class="dropdown-item" href="/spring/logout">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>