<div xmlns:th="http://www.thymeleaf.org">
	
    <form th:object="${item}" class="card" method="post" enctype="multipart/form-data">
        <div class="card-body">
        	<div class="row">
				<div class="row mb-3">
					<div class="col">
						<label>Mã nhóm</label>
						<input th:field="*{id}" class="form-control" readonly>
					</div>
			        <div class="col">
			            <label>Tên nhóm</label>
			            <input th:field="*{name}" class="form-control">
			        </div>
			        <div class="col">
			            <label>Mô tả</label>
						<input th:field="*{description}" class="form-control">
			        </div>
		        </div>
			</div>
        </div>
        <div class="card-footer">
            <hr th:replace="/admin/shared/frags::btn-crud('vip-account-group', *{id})"/>
        </div>
    </form>
</div>